{% extends 'registration/base.html' %}
{%load bootstrap4%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container" style="margin-top:0%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                    <div class="col-md-14">
                        <div class="row">
                            <div style="margin-right:50px;">
                                <img width="200px" height="auto" src="{{user.profile.profile_picture.url}}" width="200rem" style="box-shadow:3px 3px 3px 10px solid black;">
                            </div>
                            <div class="col-md-14">
                                <div class="row" width="800px">
                                    <p class="mr-3" style="margin-right:20px;">{{ user.username }}</p>
                                    <p style="margin-right:20px;" class="btn mr-3 btn-sm btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-md">Edit Profile</p>
                                    <a class="mr-3" style="margin-right:20px;" data-toggle="modal" data-target="#ModalCenter"><i  class="fa fa-cog mt-3" id="cog" ></i></a>
                                </div>
                                <hr>
                                <div class="row" width="600px">
                                    <p class="mr-8" style="margin-right:40px;">{{images.count}}  Posts</p>
                                    <p class="mr-8" style="margin-right:30px;"> {{ user.profile.following.count }} following</p>
                                    <p class="mr-8" style="margin-right:30px;">{{ user.profile.followers.count }} followers</p>
                                </div>
                                <h5>{{ user.profile.name }}</h5>
                                <p class="text-secondary">{{ user.profile.bio }}</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-sm" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <a class="D-block mx-auto" href="">Change Password</a>
                        <hr>
                        <a class="D-block mx-auto" href="{% url 'signout' %}">Log Out</a>
                        <hr>
                        <a class="D-block mx-auto" href="" data-dismiss="modal">Close</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md ">
                <div class="modal-content">
                    <form action="" method="post" novalidate enctype="multipart/form-data" class="mr-4 mt-4 ml-4 mb-4">
                        {% csrf_token%}
                        {{ u_form|crispy}}
                        {{ p_form|crispy}}
                        <button type="submit" class="btn btn-primary btn-sm"> Update Profile</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns">
        {% for image in images %}
        <div class="card">
            <div class="card-body parent ">
                <div class="im">
                    <img src="{{image.image.url}}" alt="{{image.caption}}" class="card-img"><br><hr>
                    <p id="overlay"class="text">like: <span style="">{{image.likes.count}}</span></p>
                    <p><span style="">comments:{{image.comments.count}}</span></p>
            
                </div>
            </div>
        </div>
           
        {% endfor %}
    </div>


{% endblock %}