{% extends 'insta-templates/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:0%;">
     <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="row">
                <button class="btn btn-sm btn-outline-success ml-4 mb-3" data-toggle="modal" data-target="#Upload">
                    Add New Image
                </button>
                <div class="modal fade" id="Upload" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">New Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <br>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-sm btn-outline-success">Upload</button>
                                    <button type="button" class="btn btn-sm btn-outline-success" data-dismiss="modal">
                                        Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for caption in captions %}
            <div class="mb-6">
                <div class="card-title">
                    <img src="{{caption.user.profile_picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3"  width="35" height="35"> : <p>{{caption.user.user.username}}</p>
                    {% comment %} <a href="{% url 'uprofile' caption.user.user.username  %}" class="mt-4 user" style="text-decoration:none; color:black">{{caption.user.user.username|title}}</a> {% endcomment %}
                </div>
                <div class="card-body mb-4">
                        <div class="card-text">
                            <img src="{{caption.image.url}}" style="" class="card-img" width="100%"/><br><br><hr>
                            <p class=card-text>{{caption.caption}}</p>
                        </div>
                </div>
                <div class="iconic ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{caption.id}}">
                        <a class="btn btn-outline-success" href="">thumbs up</a>
                    </button>
                        <a class="btn btn-outline-primary" type="submit" href="{% url 'comment' caption.id %}">comment</a>
                </div>
                <div class="card" style="margin-bottom:20px;">
                <span class="card-footer text-secondary ml-4 viewall"><a href="{% url 'comment' caption.id %}">view all {{caption.comments.count}} comments{{image.comments.count|pluralize}}</a></span>
                <p class="card-text ml-4 mb-1"><strong>{{caption.likes.count}} like{{caption.likes.count|pluralize}}</strong></p>

                <div class="card-footer allcomments mb-4" >
                    {% for comment in caption.comments.all|slice:'2' %}
                    <div class="comment">
                        <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                                class="text-secondary">{{ comment.comment }}</span>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <p class="text-secondary ml-4">{{caption.created|timesince}}</p>
                </div> 
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mt-4 userinfo">
            <div class="row">
                <div class="col-md-14" style="display:flex;float:left;">
                    <div class="card">
                        <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}"
                                         width="45px" height="45px">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                    {% comment %} <span><a href="{% url 'user_profile' user.username/id %}">{{user.username}}</a></span> {% endcomment %}
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>


        </div>

    </div>
</div>
{% endblock %}