{% extends 'insta-templates/base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="container" style="margin-top:7%">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if results %}
            <h5 class="text-center">Found {{ results|length }} user{{ results|pluralize }}</h5>
            {% else %}
            <h5 class="text-center"> Found 0 user with username <strong>{{message}}</strong></h5>

            <a class="d-block mx-auto" href="/">
                <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
            </a>
            {% endif %}
            <hr>
            
            {% for user_profile in results %}

            <div class="container">
                <img class="rounded-cirle" width="45">
                <a href="{%url 'user_profile' username=user_profile.user.username %}">{{user_profile.user}}</a>
            </div>

            {% endfor %}
        <div class="col-md-3"></div>
    </div>

</div>

{% endblock %}